$c-name: '.c-Section';

#{$c-name} {
    min-height: 100vh;

    &--blue {
        background-color: $cast-blue;
    }
}

#{$c-name}__container {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: $white;
    text-align: center;    
    height: calc(100vh - 14em);
    
    @include breakpoint ($bp-medium) {
        width: 45em;
        margin: 0 auto;
    }
}

#{$c-name}__txt-center {
    line-height: 1.75;
    padding: 1em 0;
}

#{$c-name}__img--email-validation {
    background-image: url("/assets/images/page-view/email-verification-post-card.png");
}

#{$c-name}__img--verify-email {
    background-image: url("/assets/images/page-view/verify-email.png");
}


#{$c-name}__img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 13em;
    height: 13em;
}

#{$c-name}__content--plain {
    color: #333;
}

#{$c-name}__content p {
    font-size: .875rem;
    color: #949494;
    margin-top: 0;
}

#{$c-name}__content h3 {
    margin-bottom: .5em;
    color: #333;
}