$c-name: '.c-Section';

#{$c-name}__layout {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;

    @include breakpoint ($bp-large) {
        padding-left: 8.5em;
        padding-right: 8.5em;
    }
    
    @include breakpoint ($bp-xtra-large) {
        padding-left: 10.5em;
        padding-right: 10.5em;
    }
}